/* font */
@font-face {
	font-family: 'Kikai Chokoku JIS Medium';
	src: url(./KikaiChokokuJIS-Md.otf);
}

/* body */
body{
    background-color: #dae0e6;
    background-size: cover;
    color:black;
    font-family: 'Kikai Chokoku JIS Medium';
    
}

/* header */
header{
    margin: 0 auto;
    text-align: center;
}

.title_img{
    text-align : left;
}
/* main */
main {
    
    width: 80%;  /* side_menuは20%左揃え */ 
    float: right;
    text-align: center;
    
}

/* bread crumb */
.breadcrumb{
    width: 80%;  /* side_menuは20%左揃え */ 
    text-align: left;
}


/* Frame */
/* top_title */
h1.top_title{
    font-family: 'Times New Roman', Times, serif;
    border: solid 10px #0000ff;
    margin: 30px 50px;
    padding: 10px;
    
}

/* page_title */
h1.page_title{
    border: double 10px #0000ff;
    margin: 30px 100px;
    padding: 10px;
    
}


/* side_menu */
.side_menu {
    position: fixed;
    top: 0px;
    float: left;  /* mianは80%右揃え */
    width: 20%;
    height: 100vh;
    background: #000; /* side_menuの背景色 */
    overflow-y: scroll; /* 縦方向のスクロールバーを表示 */
    scrollbar-face-color: #fff; /* IE などのスクロールバーの色設定 */
    scrollbar-track-color: #fff;
    -webkit-overflow-scrolling: touch; /* スマホ用の慣性スクロール */
}
.side_menu a {
	display: block;
	text-decoration: none; 
	color: #fff;
	text-align: center;
}

.side_menu th{
    color:black;
    background-color:#f2f3f7;
}

.side_menu a:hover {
	background: #333;
}

/*----------------head_menu------------------
.head_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%; 
}
.head_menu ul li {
	display: table-cell;
    box-sizing: border-box;
    list-style: none; 
    height: 50px; 
    line-height: 50px; 
    border: 5px double  #fff;
    position: relative;
}

.head_menu ul li a {
	display: block;
	text-decoration: none; 
	color: #fff;
	text-align: center;

}

.head_menu ul li a:hover {
	background: #333;
}
---------------------------------------------*/


/* main_table */
table.table a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    display:block;
    width:100%;
    height:100%;
}

table.table a:hover{
    background:#333;
}

/* side_menu_table */
.side_menu table{
    margin-top: 20px; /* side_menuの始まる位置を下げる */
}

.side_menu table a{
    padding: 5px; /* 項目の幅 */
    font-size: 20px;
}

/* side_tableの項目の文字の大きさ */
.side_table {
	font-size: 25px;
}

/* log */
div.log {
    margin: 0 auto;
    background-color: #f2f3f7;
    overflow: scroll;
    color: black;
    width: 800px;
    max-height: 280px; /* 高さの最大値 */
    text-align: left;
    padding-left:30px;
}

  pre{
    text-align: left;
    margin: 10px 100px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
	border: 1px solid #fff ;
	white-space: pre-wrap ;
}

/* image */
img{
    padding: 15px;
}

/* main > p */
main > p{
    padding: 0 65px;
    text-align: justify;
    font-size: 20px;
}

/* main > h2 */
main > h2{
    margin: 20px 70px;
    padding: 10px;
    border: double 10px  #60d9ee;   
}

/* main > h3 */
main > h3 {
    margin: 20px 70px;
    padding: 10px;
    border: double 5px;
}


/* subtitleは枠で囲まないようにする */
h2.subtitle{
    border: none;

}

/* time */
#view_clock{
    font-size: 25px;
    padding: 20px;
    display: block;
    text-align: center;
}

/* fomula */
.fomula{
    border:solid 3px white;
    padding:20px;
    margin:10px 300px;
    text-align:center;
}


/* date (diary.html)*/
.date {
    color:orangered;
}

/* img center align*/
#imgcenter{
    text-align:center;
}

/* パンくずリスト */
.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
display: inline;/*横に並ぶように*/
list-style: none;
font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
content: '>';
padding: 0 0.2em;
color: #555;
}

.breadcrumb li:last-child:after {
content: '';
}

.breadcrumb li a {
text-decoration: none;
color: #52b5ee;/*色*/
}

.breadcrumb li a:hover {
text-decoration: underline;
}

.article{
    order:2;
}

.navi{
    order:1;
}