/* font */
@font-face {
	font-family:'Kikai Chokoku JIS Medium';
	src: url(./KikaiChokokuJIS-Md.otf);
}

/* body */
body{
    background-color: #dae0e6;
    background-size: cover;
    color:black;
    font-family: 'Kikai Chokoku JIS Medium';
    
}

/* header */
header{
    margin: 0 auto;
}

.title_img{
    text-align : left;
    cursor: pointer;
    transition-duration: 0.3s;
}

.title_img:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
}

.sns_img{
    float:right;
    text-align: right;
    cursor: pointer;
    transition-duration: 0.3s;
}

.sns_img:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
}

/* main */
main {
    display: flex;
    margin: 0 10px 10px 0px;
    flex-direction: row-reverse;
}

#content{
    width: 80%;  /* articleは80% */
    margin-left: 6px;
    padding-left: 3px;
}

/* bread crumb */
.breadcrumb{
    width: 80%;  /* side_menuは20% */ 
    text-align: left;
}

/* article */
.title {
    margin: 0 0 36px 5px;
}
  
.title h1 {
    margin: 0;
    padding: 6px;
    text-align: center;
}

.title h2{
    margin: 0;
    padding: 6px;
    text-align: center;
}

.title p {
    margin: 16px 8px;
    text-indent: 1em;
}

.normal-section {
    margin: 0 0 36px 5px;
}

.normal-section h2 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.normal-section p {
    margin: 16px 8px;
    text-indent: 1em;
}

/* side_menu */
.side_menu {
    position : sticky; /* side menuの追従 */
    left:0;/*固定したい位置*/
    width: 20%;
    /*height: 100vh;*/
    background: #dae0e6; /* side_menuの背景色 */
    overflow-y: scroll; /* 縦方向のスクロールバーを表示 */
    order: 1; /* 左端*/
    scrollbar-face-color: #fff; /* IE などのスクロールバーの色設定 */
    scrollbar-track-color: #fff;
    -webkit-overflow-scrolling: touch; /* スマホ用の慣性スクロール */
}
.side_menu a {
	display: block;
	text-decoration: none; 
	color: black;
	text-align: center;
}

.side_menu th{
    color:black;
    background-color:#bec5e1;
}

.side_menu a:hover {
	background: #8b959f;
}

/* main_table */
table.table a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    display:block;
    width:100%;
    height:100%;
}

table.table a:hover{
    background:#333;
}

/* side_menu_table */
.side_menu table{
    margin-top: 5px; /* side_menuの始まる位置を下げる */
    width: 100%;
}

.side_menu table a{
    padding: 5px; /* 項目の幅 */
    font-size: 20px;
}

/* side_tableの項目の文字の大きさ */
.side_table {
	font-size: 25px;
}

/* log */
div.log {
    margin: 0 auto;
    background-color: #f2f3f7;
    overflow: scroll;
    color: black;
    width: 800px;
    max-height: 280px; /* 高さの最大値 */
    text-align: left;
    padding-left:30px;
}

/* オリジナルコード表
#code{
    margin: 10px 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
	border: 1px solid black ;
	white-space: pre-wrap ;
    background-color: black;
}

#codeout{
    margin: 10px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
	border: 1px solid black ;
	white-space: pre-wrap ;
    background-color: black;
}
*/

/* code表に番号をつける */
.prettyprint ol.linenums > li {
    list-style-type: decimal; 
}

/* image */
img{
    padding: 15px;
}

/* time */
#view_clock{
    font-size: 25px;
    padding: 20px;
    display: block;
    text-align: center;
}

/* fomula */
.fomula{
    border:solid 3px white;
    padding:20px;
    margin:10px 300px;
    text-align:center;
}

/* date (diary.html)*/
.date {
    color:orangered;
}

/* img center align*/
#imgcenter{
    text-align:center;
}

/* パンくずリスト */
.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
display: inline;/*横に並ぶように*/
list-style: none;
font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
content: '>';
padding: 0 0.2em;
color: #555;
}

.breadcrumb li:last-child:after {
content: '';
}

.breadcrumb li a {
text-decoration: none;
color: #52b5ee;/*色*/
}

.breadcrumb li a:hover {
text-decoration: underline;
}

p{
    margin: 16px 8px;
    text-indent: 1em;
}